{% assign diff = 4 | minus: 1 %}
{% assign counter = 1 %}
{% assign productCounter = 0 %}
{% assign relatedCollection = collections['view-all'] %}
{% assign index = 'now' | date: '%S' %}
{% assign index = index | times: relatedCollection.products.size %}
{% assign index = index | divided_by: 60 %}
{% if index >= 3 %}
  {% assign index = index | minus: 2 %}
{% endif %}
<div class="products_grid" id="">
{% for product in relatedCollection.products limit:3 offset: index %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: 1 %}
  <div class="grid-item">
    <img alt="{{product.title}}" style="width: 100%;"
              src="{{ product.featured_media.preview_image | img_url: 'master' }}" sizes="297px"/>
    <p class="text_center">{{product.title | truncate: 60}} </p>
    <a href="{{ product.url}}" class="buy_button text_center">
      Learn more!
    </a> 
  </div>  
{% endfor %}
</div>
  <style>
    .grid-item {
      font-size: 30px;
      padding: 20px;
    }

    .product-item-title{
      font-size: 16px;
      width: 100%;
      display: block;
      letter-spacing: 1px;
      color: #FFF;
      letter-spacing: 1.4px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 1.2;  
      font-family: 'DIN Condensed';
      font-weight: 400;
      min-height: 38px;
    }

    .grid-item p {
      font-size: 25px;
    }

    .product-item .product-item-info .product-item-details .product-item-category {
      border: none;
      margin: 0 !important;
      padding: 5px 0 0 !important;
    }

    .buy_button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
    }
  </style>