<style>
        .select-currency {
            float: left;
            margin-right: 10px;
            margin-top: 2px;
        }
        .sca-currency-style {
            float: left;
            max-width: 100%;
            width: 100px;
        }
        .sca-basic { margin-top:1px; }
        .sca-basic-option select {
            display: block !important;
            height: 26px !important;
            line-height: 26px !important;
            margin: 0 !important;
            padding: 2px !important;
            width: 70px !important;
        }
        .clear-both { clear:both; height:0px; }
    </style>
    <div class="sca-body-currency">
                <div class="sca-currency-style sca-basic-option">
            <select id="currencies" name="currencies">
                <option value="{{ defaultCurrencyCode }}" selected="selected">{{ defaultCurrencyCode }}</option>
                {% for currencyIndex in (0..currencySize) %}
                {% assign currencyCode = currencyCodes[currencyIndex] %}
                {% assign currencyFlag = currencyFlags[currencyIndex] %}
                {% if currencyCode != defaultCurrencyCode %}
                <option value="{{ currencyCode }}">{{ currencyCode }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="clear-both"></div>
    </div>

