{% layout none %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="google-site-verification" content="z8Nq0nlhrdK8tAq_mjW-7s-hd5XOh0vtqwTBELVz3nA" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124221870-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124221870-1');
</script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>bellevuedoggrooming.com is for sale</title>
<base href="https://www.namesilo.com/parking/t/8/">
<script type="text/javascript" src="https://www.namesilo.com/jslib/jquery-1.9.js"></script>
<script src="assets/jquery.fittext.js"></script>
<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

<style type="text/css">

/*!
 * Start Bootstrap - Createive v4.0.0-beta (http://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-creative/blob/master/LICENSE)
 */

body, html {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    -webkit-tap-highlight-color: #222222;
    background-color:#4a98e6;
    background-image: url("../../backgrounds/5.jpg");    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #4a98e6;
}

a {
    color: #FFF;
    font-weight:bold;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s; 
}

a:focus, a:hover, a:active {
    color: #FFF;
    filter: brightness(115%);
    text-decoration:none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, sans-serif; 
    text-shadow: 3px 3px #222;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-shadow: 1px 1px #222;
}

header.masthead {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: white;
}

header.masthead .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
}

header.masthead .header-content .header-content-inner h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

header.masthead .header-content .header-content-inner hr {
    margin: 30px auto; 
}

header.masthead .header-content .header-content-inner p {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.7);
}

.text-primary {
    color: #4a98e6 !important;
}

.text-small {
    font-size: 12px;
    text-shadow: 1px 1px #222;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.btn-primary, .btn-primary:hover {
  color: white;
  border-color: #4a98e6;
  background-color: #4a98e6;
}

.btn {
    font-weight: 700;
    border: none;
    border-radius: 300px;
    font-family: Arial, sans-serif;
    box-shadow: 1px 1px #222;
}

.btn-xl {
    padding: 15px 30px;
}

@media (min-width: 768px) {
    
    header.masthead {
        height: 100%;
        min-height: 600px;
    }
      
    header.masthead .header-content {
        position: absolute;
        top: 15%;
        padding: 0 50px;
    }

    header.masthead .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto;
    }

    header.masthead .header-content .header-content-inner h1 {
        font-size: 50px;
    }

    header.masthead .header-content .header-content-inner p {
        font-size: 18px;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

}

#nsCredit {
margin:25px 0;
text-shadow: 1px 1px #222;
}

li {
margin-top:7px;
}

</style>

</head>
<body>
<header class="masthead">

    <div class="header-content">

        <div class="header-content-inner">

            <h1 id="fittext2">bellevuedoggrooming.com</h1>
            <h2>is for sale!</h2>
            <hr>

                            <p style="text-align:justify;color:white;">Belle Vue DogGrooming (bellevuedoggrooming.com) is for sale today! GET IT NOW to grow your business &amp; increase your revenue...

Dog grooming refers to both the hygienic care and cleaning of a dog, as well as a process by which a dog&#039;s physical appearance is enhanced for showing or other types of competition. A dog groomer (or simply &quot;groomer&quot;) is a person who earns their living grooming dogs</p>
            
            
                <a href="https://www.namesilo.com/cart.php?marketplace_id=ZmpmAwZ1ZmtmAwZjZmR=8206np4n05s9pn120p760po2017o42o5&wsmb=1" target="_blank" class="btn btn-primary btn-xl" style="margin:10px 0; min-width:260px;">
                    Buy Now  for $1,000                </a>

            
            
                <a href="https://www.namesilo.com/auctions/ZmpmAwZ1ZmtmAwZjZmR=8206np4n05s9pn120p760po2017o42o5/view" target="_blank" class="btn btn-primary btn-xl" style="margin:10px 0; min-width:260px;">
                    Place a Bid                </a>

            
            <div>&nbsp;</div>

            

<div style="padding-top: 25px;">
    <a href="https://www.namesilo.com/" target="_blank">Search & Register Domains at NameSilo</a>
</div>
            <div id="nsCredit" class="fa fa-shield"> Sold securely via NameSilo</div>

        </div>

        
    </div>

</header>

<script type="text/javascript">
//$("#fittext1").fitText();
$("#fittext2").fitText(1.334, { maxFontSize: '45px' });
//$("#fittext3").fitText(.6, { minFontSize: '1px', maxFontSize: '35px' });
</script>



</body>
</html>
